---
layout: default
---
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
</div>
<article {% if page.feature-img %}class="feature-image"{% endif %}>
    <section class="post-content">
        {% if page.bootstrap %}
            <div class="bootstrap-iso">
        {% endif %}
        {{ content }}
        {% if page.bootstrap %}
            </div>
        {% endif %}
    </section>
    <!-- Tag list for portfolio -->
    {% capture tag_list %}{{ page.tags | join: "|" }}{% endcapture %}
    {% capture _tags %}{% include default/tags_list.liquid tags=tag_list %}{% endcapture %}
    {{ _tags | split: " " | join: " " }}
</article>
